<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
    
    <meta name="keywords" content="<%= @seo_keywords %>" />
    
    <%= favicon_link_tag 'favicons/favicon-16x16.png' %>

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <!--Nav-->
    <%= render 'shared/portfolio_nav' %>
  
    <!--Jumbotron-->
    <%= render 'shared/portfolio_jumbotron' unless logged_in?(:site_admin) %>
    
    <%= yield %>
    
    <!--Footer-->
    <%= render 'shared/portfolio_footer' %>
    
    <!--alerts application helper for gritter-->
    <%= alerts %>
    
    
    
  </body>
</html>
